<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="biblio.css">
    <title>Bibliotheque</title>
</head>

<body>
    <section class="bib">
        <h2 class="title">Livres disponibles à la bibliothèque :</h2>
        <div class="content">
            <div class="bib-card">
                 <div class="book-img">
                    <img src="imgeco.jpeg" />
                 </div> 
                 <div class="bib-info">
                    <strong class="book-title">
                        <span>Economie</span>
                        <a href="" class="source">Source</a>
                    </strong>
                 </div>
            </div>
        </div>
        <div class="content">
            <div class="bib-card">
                 <div class="book-img">
                    <img src="imggest.jpeg" />
                 </div> 
                 <div class="bib-info">
                    <strong class="book-title">
                        <span>Gestion</span>
                        <a href="" class="source">Source</a>
                    </strong>
                 </div>
            </div>
        </div>
        <div class="content">
            <div class="bib-card">
                 <div class="book-img">
                    <img src="imgmark.jpg" />
                 </div> 
                 <div class="bib-info">
                    <strong class="book-title">
                        <span>Marketing</span>
                        <a href="" class="source">Source</a>
                    </strong>
                 </div>
            </div>
        </div>
    </section>
</body>