<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="connectionenseignant.css">
    <title>connection enseignant</title>
</head>
<body>
    <section class="connectEn">
        <h2>Connection</h2>
        <form>
            <table>
                <tr>
                    <td>Email :</td>
                    <td><input type="email" name="email" required></td>
                </tr>
                <tr>
                    <td>Mot de passe :</td>
                    <td><input type="password" name="Motdepasse" required></td>
                </tr>
            </table>
            <input type="submit" value="se connecter">
        </form>
    </section>
</body>
</html>