<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="PFECSS.css">
    <title>FSEGT</title>
</head>
<body>
    <header>
       <a href="#" class="hef">FSEGT</a>
       <img src="image6.png">
       <nav class="navigation">
        <a href="#etudiant">Etudiant</a>
        <a href="#administration">Administration</a>
        <a href="#bibliotheque">Bibliotheque</a>

       </nav>
    </header>
    <section class="main">
        <div>
            <h2>Bienvenu chez <br><span>FSEGT</span> </h2>
            <h3>Depuis 1958</h3>
            <a href="#historique" class="main-btn">voir l'historique</a>
            <div class="social-icons">
                <a href="# "><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>

            </div>


        </div>

    </section>

    <section class="cards" id="etudiant">
        <h2 class="title">Espace Etudiant</h2>
        <div class="content">
            <button onclick="window.location.href = 'inscriptionetudiant.html';"><div class="card">
                <div class="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </div> 
                <div class="info">
                    <h3>Inscription</h3>
                    <p>Inscrivez-vous maintenant !</p>
                </div>
            </div></button>
            <button onclick="window.location.href = 'connectionenseignant.html';"><div class="card">
                <div class="icon">
                    <i class="fa-regular fa-square-check"></i>
                </div> 
                <div class="info">
                    <h3>Connection</h3>
                    <p>Connectez-vous à votre compte</p>
                </div>
              </div></button>

        </div>
    </section>

    <section class="admin" id="administration">
        <h2 class="title">Espace Administratif</h2>
        <div class="content">
            <button onclick="window.location.href = 'connectionenseignant.html';"><div class="card">
                <div class="icon">
                    <i class="fa-solid fa-chalkboard-user"></i>
                </div> 
                <div class="info">
                    <h3>Enseignant</h3>
                    <p>vous êtes un enseignant !</p>
                </div>    
            </div></button>
            <button onclick="window.location.href = 'connectionenseignant.html';"><div class="card">
                <div class="icon">
                    <i class="fa-solid fa-user-tie"></i>
                </div> 
                <div class="info">
                    <h3>Administratif</h3>
                    <p>Vous êtes administratif !</p>
                </div>    
            </div></button>

        </div>
    </section>
    
    <section class="bib" id="bibliotheque">
        <h2 class="title">Espace Bibliotheque</h2>
        <div class="content">
            <button onclick="window.location.href = 'biblio.html';"><div class="card">
                <div class="icon">
                    <i class="fa-solid fa-user"></i>
                </div> 
                <div class="info">
                    <h3>Visiteur</h3>
                    <p>Découvrir notre collection !</p>
                </div>    
            </div></button>
            <button  onclick="window.location.href = 'connectionenseignant.html';"><div class="card">
                <div class="icon">
                    <i class="fa-solid fa-user-gear"></i>
                </div> 
                <div class="info">
                    <h3>bibliothécaire</h3>
                    <p>Vous êtes un bibliothécaire !</p>
                </div>    
            </div></button>
        </div>

    </section>

    <section class="histo" id="historique">
        <h2 class="title">Historique de l'FSEGT</h2>

    </section>
    <script src="index.js
    "></script>
</body>
<footer>
    <p>&copy; SLIMI Yesser, 2023.</p>
</footer>  
</html>